<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410964036125-uht6udvjrs4vb0id17j0g8l7g5kcveao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410964036125-uht6udvjrs4vb0id17j0g8l7g5kcveao</string>
	<key>API_KEY</key>
	<string>AIzaSyCVu8ED83ZvoJsmaEiaPRMX59NN4npbQo0</string>
	<key>GCM_SENDER_ID</key>
	<string>410964036125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phoenix.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-phoenix-development</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-phoenix-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410964036125:ios:e30ea194d545717005d4f4</string>
</dict>
</plist>